
/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 14px;
    background-color: #F8F9F9;
    color: #03363D;
    font-family: "Roboto", sans-serif;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1150px;
    margin: 15px auto;
}

/* End General Styles */

/* Header styles */

.header {
    min-height: 120px;
    max-height: 150px;
    margin-bottom: 10px;
}

.header .container {
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: flex-end;
}

.header__top__menu__list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__top__menu__link {
    font-size: 12px;
    line-height: 18px;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__main__menu__list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__main__menu__item__link {
    font-size: 16px;
    line-height: 24px;
}

.header__main__menu__item__link.button {
    padding: 15px 35px;
    color: #ffffff;
    background-color: #17494D;
}


/* End Header styles */

/* Hero styles */

.hero {
    background-color: #17494D;
    min-height: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__about {
    min-width: 600px;
}

.hero__about__title {
    font-size: 77px;
    line-height: 85px;
    color: #ffffff;
}

.hero__about__title .pink {
    color: #CE9FB7;
}

.hero__about__title .green {
    color: #00A656;
}

.hero__about__title .blue {
    color: #30AABC;
}

.hero__about__title .underline {
    position: relative;
}

.hero__about__title .underline::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
}

.hero__main {
    max-width: 400px;
}

.hero__main__text {
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 35px;
}

.hero__main__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.hero__main__buttons a {
    padding: 15px 30px;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    border: 1px solid #FF6224;
}

.hero__main__buttons__fill {
    background-color: #FF6224;
}

.hero__main__buttons__transparent {
    background-color: transparent;
}


/* End Hero styles */