
/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 14px;
    background-color: #F8F9F9;
    color: #03363D;
    font-family: "Roboto", sans-serif;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1150px;
    margin: 15px auto;
}

/* End General Styles */

/* Header styles */

.header {
    min-height: 120px;
    max-height: 150px;
}

.header .container {
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: flex-end;
}

.header__top__menu__list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__top__menu__link {
    font-size: 12px;
    line-height: 18px;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__main__menu__list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__main__menu__item__link {
    font-size: 16px;
    line-height: 24px;
}

.header__main__menu__item__link.button {
    padding: 15px 35px;
    color: #ffffff;
    background-color: #17494D;
}


/* End Header styles */